bcrypt==4.3.0
celery
flask==2.2.5
flask-cors
flask-babel
flask-migrate
flask-security-too[fsqla,common]
libpass
flask-session
flask-socketio
flask-sqlalchemy
flask_mailman
gevent-websocket
gunicorn
greenlet
matplotlib
numpy
pandas
psycopg2-binary
pytest-cov
python-magic
pyyaml
pytest
redis
requests
simple-websocket
flake8
ipython
werkzeug<3.1
supervisor
